:root {
  --red: rgb(214, 51, 51);
  --mainBackground: rgb(240, 227, 223);
}

* {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  align-content: center;
  justify-content: center;
  background-color: var(--red);
}

header input {
  text-align: center;
}

header input:hover {
    border-color: black;
    border-width: 1px;
  }

body {
  background-color: var(--mainBackground);
}

.main-container {
  background-color: var(--red);
  padding: 15px;
    display: flex;
    width: auto;

}

.main-container h1 {
  color: aliceblue;
  margin: 5px;
  text-align: center;
}

.main-container input {
  width: 300px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 5px;
  align-self: center;
  border-width: 0;
}

.add-btn {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border-color: none;
  display: flex;
  margin: 0 auto;
  padding: 0;
  display: inline-block;
  line-height: 50px;
  text-align: center;
  background-color: aliceblue;
  font-weight: 700;
  border-width: 0;
}

.add-btn:hover {
    border-color: black;
    border-width: 1px;
  }


.menu {
  display: flex;
  justify-content: center;
}

.menu .menu-options {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(104, 104, 104);
  width: 100%;
  height: 25px;
}

.menu .menu-options a:link {
  text-decoration: none;
  color: aliceblue;
}

.actions {
  display: flex;
  justify-content: center;
  width: 250px;
}

.tasks-Table {
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(146, 146, 145);
  width: 100%;
}

.task-container {
  display: flex;
  justify-content: center;
}

.table-body {
  background-color: rgb(214, 214, 214);
}

.new-row {
  height: 42px;
}

.cell-task {
  padding-left: 10px;
}

.task-title {
  padding-left: 10px;
}

.table-footer {
  background-color: rgb(104, 104, 104);
  height: 8px;
}

.btn-danger {
    margin: 5px 0px 3px 0px;
  }

.btn-warning {
  margin: 5px 5px 3px 5px;
}

.btn-success {
    margin: 5px 0px 3px 0px;
  }

.menu-options a {
  color: white;
}

/* Edit pop-up */

.swal2-confirm swal2-styled {
  background-color: green;
  color: green;
}

/* Add strike out text */
.striked {
  text-decoration: line-through;
  padding-left: 10px;
}

.btn-block {
 display: none;
}

/* ------- WEATHER -------------------------------------------------------------------------------------- */

.weather {
  background-color: rgb(214, 51, 51);
}

.weather-container {

  justify-content: center;
  padding: 0px;
}

.weatherForm {
  display: flex;
  justify-content: end;
  align-content: center;
}

.card {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border-radius: 0px;
  border: 0cap;
  height: 50px;
  padding: 0px 10px;
  padding-top: 10px;
}

.card2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: white;
  height: 50px;
  padding: 0px 10px;
}

.cityInput {
  width: 200px;
  height: 30px;
  margin: 10px;
  border-radius: 5px;
  border-width: 0;
  text-align: center;
}

.cityInput:hover {
border-color: black;
border-width: 1px;
}

.weather-btn {
  height: 35px;
  width: 120px;
  margin: 8px;
  border-radius: 50px;
  border-color: none;
  border-width: 0;
  text-align: center;
  background-color: aliceblue;
  font-weight: 700;
}

.weather-btn:hover {
border-color: black;
border-width: 1px;
}

.cityDisplay {
  display: flex;
  align-items: center;
}

.weatherEmoji {
  display: flex;
  align-items: center;
  width: 70px;
  font-size: 50px;
  padding: 0px;
  margin: 0px;
}

.tempDisplay {
  width: 80px;
  font-weight: bolder;
  font-size: 22px;
  display: flex;
  align-items: center;
  margin-left: 80px;
}

.humidityDisplay {
  width: 110px;
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.descDisplay {
  width: 120px;
  display: flex;
  align-items: center;
  margin-left: 50px;
}

footer {
    background-color: black;
    height: 1px;
}


/*------MEDIA----------------------------------------------------------------------------- */

@media (max-width: 600px) {
  .main-container {
    background-color: var(--red);
    margin: 0px;
    padding: 0px;
    display: inline-block;
    justify-content: space-between;
  }

  .main-container button {
    display: flex;
    height: 30px;
    width: 300px;
    border-radius: 5px;
    border-color: none;
    margin: 10px 20px;
    justify-content: center;
    background-color: aliceblue;
    font-weight: 700;
    text-align: center;
    align-items: center;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
    padding-right: 25px;
  }

  .btn-success {
    height: 20px;
    border-radius: 20%;
    text-indent: -9999px;
    line-height: 0; 
    padding: 5px;
    padding-top: 2px;
  }

  .btn-success::after {
    font-size: 10px;
    font-weight: bold;
    content: "OK";
    text-indent: 0;
    display: block;
    line-height: initial;
    color: white;
  }

   .btn-warning {
    height: 20px;
    border-radius: 20%;
    text-indent: -9999px;
    line-height: 0; 
    padding: 5px;
    padding-top: 1px;
  }

  .btn-warning::after {
    font-size: 12px;
    font-weight: bold;
    content: "Ed";
    text-indent: 0;
    display: block;
    line-height: initial;
    color: rgb(0, 0, 0);
  }

  .btn-danger {
    height: 20px;
    border-radius: 20%;
    text-indent: -9999px;
    line-height: 0; 
    padding: 8px;
    padding-top: 1px;

  }

 .btn-danger::after {
    font-size: 12px;
    font-weight: bold;
    content: "X";
    text-indent: 0;
    display: block;
    line-height: initial;
    color: white;
  }

  .cell-actions {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    margin: 8px 10px 0px 0px;
    

  }

  .tempDisplay {
    width: 80px;
    font-weight: bolder;
    font-size: 20px;
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .humidityDisplay {
    width: 110px;
    display: flex;
    align-items: center;
    margin-left: 20px;
  }
  
  .descDisplay {
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
}


